<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BGSnippet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <BGSnippet.Properties.Settings>
      <setting name="SourceFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="TargetFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="SnippetWitdth" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SnippetHeight" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SnippetLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SnippetTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Delay" serializeAs="String">
        <value>300</value>
      </setting>
    </BGSnippet.Properties.Settings>
  </userSettings>
</configuration>
